<h1>Edit Location</h1>

<h4 style="bottom: 30px; position: fixed;">  <%= link_to 'Return to Locations', locations_path %></h4>

<h4 style="bottom: 0px; position: fixed;">  <%= link_to 'Home', clubs_path %></h4>

<%= render 'form' %>